global:
  scrape_interval: "5s"
  evaluation_interval: "5s"

rule_files:
  - "rules.yml"

alerting:
  alertmanagers:
  - static_configs:
{% for host in groups['prometheus'] %}
    - targets:
      - "{{ hostvars[host]['ansible_host'] }}:9093"
{% endfor %}

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets:
{% for host in groups['prometheus'] %}
        - "{{ hostvars[host]['ansible_host'] }}:9090"
{% endfor %}
